.bg-custom{
    background: linear-gradient(to right, #ff9966, #ff5e62);
}
.navbar .nav-item:hover .nav-link{
    background-color: white;
    color: tomato;
    border-radius: 15px;
}
.text-custom{
    color: #ff5e62;
}